@font-face {
  font-family: 'Avant Garde';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/AVGARDO.woff') format('woff');
}

body {
  background-color: hsl(0, 0%, 6%);
  margin: 0px;
  font-family: 'Avant Garde';
}
