.main{
    height: 100vh;

    .body, .mask{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #afa18f;
        font-size: 64px;
        line-height: 66px;
        cursor: default;


        span{
            color: #FFFFFF;
        }
    
        p{
            width:1020px;
        }
    }

    .mask{
        position: absolute;
        mask-image: url('../../public/mask.svg');
        background: #BF40BF;
        mask-repeat: no-repeat;
        mask-position: 10%;
        mask-size: 60px;
        color: black;
    }

    .orangehomecwbutton {
        background-color: #FF5433;
        color: white;
        position: 'absolute';
        left: '13%';
        top: '65%';
        transform: 'translate(-50%, -50%)';
        width: 200px;
        height: 75px;
        font-size: 16px;
        font-family: 'Avant Garde';
        border-radius: 10px;
        border-color: #c1391d;
      }

    


}